In [2]:
!pip install pandasql
import pandas as pd
import pandasql as psql
Course=pd.read_excel("https://github.com/ogut77/University/blob/main/Course.xlsx?raw=true")
Faculty=pd.read_excel("https://github.com/ogut77/University/blob/main/Faculty.xlsx?raw=true")
Student=pd.read_excel("https://github.com/ogut77/University/blob/main/Student.xlsx?raw=true")
Enrollment=pd.read_excel("https://github.com/ogut77/University/blob/main/Enrollment.xlsx?raw=true")
Offering=pd.read_excel("https://github.com/ogut77/University/blob/main/Offering.xlsx?raw=true")
Faculty_1=pd.read_excel("https://github.com/ogut77/University/blob/main/Faculty_1.xlsx?raw=true")

Requirement already satisfied: pandasql in /usr/local/lib/python3.7/dist-packages (0.7.3)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.3.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.21.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.4.31)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (1.1.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (4.11.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.7.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.10.0.2)

In [3]:
#Q1-List all rows and columns of student table
txt='''
SELECT *
FROM Student
'''
Q1 =  psql.sqldf(txt)
Q1

,StdNo,StdFirstName,StdLastName,StdCity,StdState,StdZip,StdMajor,StdClass,StdGPA
0,123-45-6789,HOMER,WELLS,SEATTLE,WA,98121-1111,IS,FR,3.0
1,124-56-7890,BOB,NORBERT,BOTHELL,WA,98011-2121,FIN,JR,2.7
2,234-56-7890,CANDY,KENDALL,TACOMA,WA,99042-3321,ACCT,JR,3.5
3,345-67-8901,WALLY,KENDALL,SEATTLE,WA,98123-1141,IS,SR,2.8
4,456-78-9012,JOE,ESTRADA,SEATTLE,WA,98121-2333,FIN,SR,3.2
5,567-89-0123,MARIAH,DODGE,SEATTLE,WA,98114-0021,IS,JR,3.6
6,678-90-1234,TESS,DODGE,REDMOND,WA,98116-2344,ACCT,SO,3.3
7,789-01-2345,ROBERTO,MORALES,SEATTLE,WA,98121-2212,FIN,JR,2.5
8,876-54-3210,CRISTOPHER,COLAN,SEATTLE,WA,98114-1332,IS,SR,4.0
9,890-12-3456,LUKE,BRAZZI,SEATTLE,WA,98116-0021,IS,SR,2.2
10,901-23-4567,WILLIAM,PILGRIM,BOTHELL,WA,98113-1885,IS,SO,3.8

In [4]:
#Q2-List student first name and last name
txt='''
SELECT StdFirstName, StdLastName
FROM Student
'''
Q2 =  psql.sqldf(txt)
Q2

   StdFirstName StdLastName
0         HOMER       WELLS
1           BOB     NORBERT
2         CANDY     KENDALL
3         WALLY     KENDALL
4           JOE     ESTRADA
5        MARIAH       DODGE
6          TESS       DODGE
7       ROBERTO     MORALES
8    CRISTOPHER       COLAN
9          LUKE      BRAZZI
10      WILLIAM     PILGRIM

In [5]:
#Q3-List student first name and last name whose major is 'IS'
txt='''
SELECT StdFirstName, StdLastName
FROM Student
WHERE StdMajor = 'IS'
'''
Q3 =  psql.sqldf(txt)
Q3

  StdFirstName StdLastName
0        HOMER       WELLS
1        WALLY     KENDALL
2       MARIAH       DODGE
3   CRISTOPHER       COLAN
4         LUKE      BRAZZI
5      WILLIAM     PILGRIM

In [6]:
#Q4-List student first name and last name whose major is 'ACCT' and student class is sophomere ('SO')
txt='''
SELECT StdFirstName, StdLastName
FROM Student
WHERE StdMajor = 'ACCT' and StdClass = 'SO'
'''
Q4 =  psql.sqldf(txt)
Q4

  StdFirstName StdLastName
0         TESS       DODGE

In [7]:
#Q5-List all student with student GPA is below 3
txt='''
SELECT *
FROM Student
WHERE StdGpa < 3.0
'''
Q5 =  psql.sqldf(txt)
Q5

,StdNo,StdFirstName,StdLastName,StdCity,StdState,StdZip,StdMajor,StdClass,StdGPA
0,124-56-7890,BOB,NORBERT,BOTHELL,WA,98011-2121,FIN,JR,2.7
1,345-67-8901,WALLY,KENDALL,SEATTLE,WA,98123-1141,IS,SR,2.8
2,789-01-2345,ROBERTO,MORALES,SEATTLE,WA,98121-2212,FIN,JR,2.5
3,890-12-3456,LUKE,BRAZZI,SEATTLE,WA,98116-0021,IS,SR,2.2

In [8]:
#Q6-List all student with student GPA is between 3 and 3.5 (3 and 3.5 is included)
txt='''
SELECT *
FROM Student
WHERE StdGPA BETWEEN 3 AND 3.5
'''
Q6 =  psql.sqldf(txt)
Q6

,StdNo,StdFirstName,StdLastName,StdCity,StdState,StdZip,StdMajor,StdClass,StdGPA
0,123-45-6789,HOMER,WELLS,SEATTLE,WA,98121-1111,IS,FR,3.0
1,234-56-7890,CANDY,KENDALL,TACOMA,WA,99042-3321,ACCT,JR,3.5
2,456-78-9012,JOE,ESTRADA,SEATTLE,WA,98121-2333,FIN,SR,3.2
3,678-90-1234,TESS,DODGE,REDMOND,WA,98116-2344,ACCT,SO,3.3

In [9]:
#Q7-List unique student major
txt='''
SELECT Distinct StdMajor
FROM Student
'''
Q7 =  psql.sqldf(txt)
Q7

  StdMajor
0       IS
1      FIN
2     ACCT

In [13]:
#Q8-List all faculty information with a rank is ASST or ASSC
txt='''
SELECT *
FROM Faculty
WHERE FacRank IN ('ASST','ASSC')
'''
Q8 =  psql.sqldf(txt)
Q8

,FacNo,FacFirstName,FacLastName,FacCity,FacState,FacDept,FacRank,FacSalary
0,098-76-5432,LEONARD,VINCE,SEATTLE,WA,MS,ASST,35000
1,654-32-1098,LEONARD,FIBON,SEATTLE,WA,MS,ASSC,70000
2,876-54-3210,CRISTOPHER,COLAN,SEATTLE,WA,MS,ASST,40000
3,987-65-4321,JULIA,MILLS,SEATTLE,WA,FIN,ASSC,75000

In [14]:
#Q9-List all faculty information when faculty rank is not  ASST and ASSC
txt='''
SELECT *
FROM Faculty
WHERE FacRank NOT IN ('ASST','ASSC')
'''
Q9 =  psql.sqldf(txt)
Q9

,FacNo,FacFirstName,FacLastName,FacCity,FacState,FacDept,FacRank,FacSalary
0,543-21-0987,VICTORIA,EMMANUEL,BOTHELL,WA,MS,PROF,120000
1,765-43-2109,NICKI,MACON,BELLEVUE,WA,FIN,PROF,65000

In [15]:
#Q10-List  courses related information
#for the courses containing the string 'BUSINESS' in the course description.
txt='''
SELECT *
FROM Course
WHERE CrsDesc LIKE '%BUSINESS%'
'''
Q10 =  psql.sqldf(txt)
Q10

  CourseNo                               CrsDesc  CrsUnits
0    IS320  FUNDAMENTALS OF BUSINESS PROGRAMMING         4
1    IS470          BUSINESS DATA COMMUNICATIONS         4